[net]
host =
port =
auth_file_path =

[api]
sd_host =
ollama_host =
openai_host =
openai_key =

[sd]
model_path =
lora_path =
styles_file =
default_llm_type =
default_llm_model =
default_color_sd_model =
default_color_sd_lora =
default_color_sd_lora_weight =
default_color_sd_prompt =
default_color_sd_negative =
default_color_sd_sampling =
default_color_sd_schedule =
default_color_sd_steps =
default_color_sd_cfg =
default_line_sd_model =
default_line_sd_lora =
default_line_sd_lora_weight =
default_line_sd_prompt =
default_line_sd_negative =
default_line_sd_sampling =
default_line_sd_schedule =
default_line_sd_steps =
default_line_sd_cfg =